.bgColor{
  padding: 10px 30px;
  font-weight: 600;
  text-align: center;
  background: #4b24c0;
  color: var(--bs-white);
  transition: .3s;
  border-radius: 10px;
  border: 1px solid transparent;
  margin-left: 15px;
}
.bgColor svg{
  margin-left: 15px;
}
/* about section */
.abtSubTitle{
  color: #4b24c0;
  font-size: 24px;
  line-height: 31.2px;
  margin-bottom: 30px;
  font-weight: 600;
}
.abtTitle{
  font-size: 57px;
  line-height: 74.1px;
  color: #0c266c;
  font-weight: 700;
  margin-bottom: 22px;
}
.howSubTitle{
  color: #4b24c0;
  font-size: 24px;
  line-height: 31.2px;
  margin-bottom: 30px;
  font-weight: 600;
}
.howTitle{
  font-size: 57px;
  line-height: 74.1px;
  color: #0c266c;
  font-weight: 700;
  margin-bottom: 22px;
}
.image_wrapper {
  direction: rtl;
}

.feature_details {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 26px;
  grid-row-gap: 5px;
}
.singlebox {
  border: 1px solid #bec8e5;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 40px 20px 33px;
  transition: .3s;
}
.abt_img{
  margin-right: 40px;
}
.singlebox:hover {
  box-shadow: 0 12px 24px rgb(106 105 194 / 25%);
  border-color: transparent;
}
.singlebox p {
  margin: 21px 0 24px;
  color: #0c266c;
}
.sectiontitle{
  text-align: center;
  margin-bottom: 60px;
}


#about{
  padding: 120px 0;
}
/* how area */
#howarea{
  padding: 120px 0;
  text-align: center;
}
.singleUpItem{
  position: relative;
}
.singleUpItem:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 104px;
  height: 15px;
  right: calc(-17% - 10px);
  top: calc(35% - 20px);
  background-image: url('../public/images/how-works/how-works-arrow-2.png');
  
}
.singleItem{
  position: relative;
}
.singleItem:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 104px;
  height: 15px;
  right: calc(-17% - 10px);
  top: calc(35% - 20px);
  background-image: url('../public/images/how-works/arrow.png');
  
}
/* payment */
.payment{
  background-image: url('../public/images/our-solutions-bg.png');
  padding: 121px 200px;
  background-size: cover;
  background-position: center;
}
.payment_module {
  margin-top: -122px;
}
p.greenText{
  color: #00fe71 ;
}
.pay_wrapper{
  box-shadow: 2px 3.464px 24px 0 rgb(106 105 194 / 25%);
}

/* subscribe form */
.subscribe{
  background-image: url('../public/images/newsletter.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -178px;
  margin-top: 100px;
}
.subscribe h3{
  font-weight: 700;
  font-size: 43px;
  line-height: 56px;
  margin-bottom: 40px;
}
.subscribe form{
  width: 60%;
  
}
.subscribe form input[type="email"]{
  background-color: #fff;
  border: 1px solid #e2e2ea;
  border-radius: 35px;
  padding: 20px 20px;
  border-top-right-radius: 35px !important;
  border-bottom-right-radius: 35px !important;
  position: relative;
}
button.subscribebtn {
  border: 0;
  color: #fff;
  background: #5956cf;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 7px;
  top: 5px;
  border-radius: 50% !important;
}

/* banner area */
.bannerarea{
  background-image: url('../public/images/banner/banner.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.bannerform{
  border-radius: 10px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 2px 3.464px 24px 0 rgb(106 105 194 / 25%);
  width: 60%;
  margin-left: auto;
}
/* features */
.featureAll{
  position: relative;
  padding: 70px 30px 65px;
  margin-top: -110px;
  transform: translateZ(10px);
  margin-bottom: 20px;
  
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 2px 3.464px 24px 0 rgb(106 105 194 / 25%);
  height: 100%;
  top: 0;
  
}

